/* A soft reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /* 
    font-family: 'Patrick Hand', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'IM Fell English', serif;
    width: 100%;
    min-height: 100%;
    font-size: 1rem;
    color: red;
    overflow-x: hidden;
    position: relative;
    background: url('https://plus.unsplash.com/premium_photo-1669061097456-a7d45a726580?q=80&w=2038&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat;
    background-size: cover;

}



/* general///////////////////////////////// */





a {
    text-decoration: none;

}


a:hover {
    color: purple;
    transition: all ease 1s;
}


/* end of general.///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



/* parent. */

.page-wrapper {
    padding: 4rem;
    position: relative;
    display: grid;
    height: 100%;
    grid-template-areas:
        "header header header"
        "main main aside"
        "main main aside";

}

/* intro headerarea */


.intro header {
    text-align: center;
    font-family: 'Dancing Script', cursive;
}


header h1 {
    font-size: 4rem;
    padding: 1rem;
}


header h2 {
    margin-bottom: 1rem;
}




.intro {
    margin-bottom: 2rem;
    grid-area: header;
    /* padding: 4rem; */

}


.intro {
    position: relative;
}


/* Position above Zen Garden */

.intro::before {
    content: var(--pseudo-content, "");
    position: absolute;
    top: -40px;
    color: red;
    left: 0;
    font-family: 'Petit Formal Script', cursive;
    font-size: 2em;
    white-space: nowrap;
    margin-top: 1rem;
    font-weight: 700;
}



.preamble h3 {
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-family: 'Petit Formal Script', cursive;
    font-weight: bolder;
}

/* summmary in the intro */



.summary {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 900;
}

.summary p:nth-of-type(2) {
    color: red;
    text-align: center;
    margin-top: 1rem;
}


.summary a {
    font-size: 1.3rem;
}







/* //////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ending header*/
/* /////////////////////////////////////////////////////////////////////////////////////////////////// */





/* main content */

.main {
    grid-area: main;
    margin-bottom: 6rem;
}

.main h3 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: 'Petit Formal Script', cursive;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* end main content */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */





/* aside Content */

.sidebar {
    grid-area: aside;
    padding: 1rem;
}


.sidebar li {
    list-style-type: none;
}



footer {
    margin-top: 4rem;
    position: absolute;
    display: flex;
    justify-content: stretch;
    gap: 1rem;
    width: 100%;
    padding-bottom: 4rem;
    font-family: 'Petit Formal Script', cursive;
    font-weight: 700;


}



footer a {}

footer a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}


/* end content */


/* ////////////////////////////////// sidebar ///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



.wrapper h3 {

    margin-bottom: 1rem;
    font-family: 'Petit Formal Script', cursive;

}


.design-archives h3 {

    margin-top: 1rem;

}


.zen-resources h3 {
    margin-top: 1rem;
}



.designer-name {
    font-family: 'Petit Formal Script', cursive;
    color: red;
    font-weight: 700;

}



/* ///////////////////////// end of sidebar /////////////////////////////////////////////////////////////////////////// */

/* special effect */

.ink-drop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    transform: scale(0);
    animation: spread 0.5s ease-out forwards, fadeOut 2s ease-out 0.5s forwards;
}

@keyframes spread {
    to {
        transform: scale(1);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}



/* enddddddddddddddddddddddddddd of special  */



/* media screen */


@media only screen and (max-width: 600px) {

    .page-wrapper {
        display: flex;
        flex-direction: column;
    }



    /* header area */



    .intro header {
        margin-top: 2rem;
    }

    .intro::before {
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-bottom: 2rem;
    }



    /* end of header area */



    /* sidebar */


    .sidebar {
        text-align: center;
        margin-bottom: 2rem;
    }


    /* footer */


    footer {
        position: absolute;
        bottom: 0;
        text-align: center;
        justify-content: center;
        gap: 20px;
        left: 0;
    }

}